/*reset*/
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poiret One', cursive;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
}

/*HOME*/
header{
    height: fit-content;
    background-color: white;
}

.container-fluid{
    height: 60px;
}

.headerLogo{
    width: 270px; 

}

svg{
    height: 2.5rem;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.nav-link{
    color: rgb(13, 126, 11);
    font-size: 1.8rem;
}

.nav-item{
    margin: auto 20px;
}

.textCol{
    padding: 5px 15px;
    margin: 5px 5px;
}

/*

ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

nav a{
    justify-self: center;
}

.headerLi{
list-style-type: none;
text-decoration: none;  
}

.headerA{
    color: rgb(13, 126, 11);
    font-size: 2rem;
    list-style-type: none;
    text-decoration: none;  
}*/

.backgroundHome {
    background-image: url(../assets/images/back\ body\ short\ size.jpg);
    background-size: contain;
    width: 100%;
}

.homeQuote{
    background-color: rgba(255, 255, 255, 0.671);
    position: absolute;
    margin: 25% 7%;
   
}

.homeQuote p{
    width: fit-content;
    font-style: italic;
    font-size: 1.2rem;
    position: relative;
    padding: 5px 10px; 
}
/*
.firmaQuote{
    text-align: right;
    bottom: 2px;
}*/

.mainTit{
    color: rgb(0, 80, 0);
    font-size: 3rem;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
    font-weight: 800;
}

.frase{ 
    color:rgb(122, 74, 74) ;
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
}

.secondTit{
    color: rgb(1, 107, 1);
    font-size: 2.6rem;
    text-align: center;
    font-weight: 600;
}


.contenedorPadre{
    display: flex;
    justify-content: space-evenly;
    height:420px ;
    margin-top: 20px;
}

.contenedorPadre p{
    width: 600px;
    font-size: 1.1;
}

.thirdTit{
    font-size: 2.4rem;
    color: rgb(2, 143, 2);
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 600;
}
.retratoHome{
    width: 100%;
    margin-top: 10%;
}

.colTexto{
   margin-top: 25px;
}

.marginBioText{
    margin-top: 90px
}
/*
.contenedorPerfil1{
    width: 98vw;
    height: max-content;
    display: flex;
    flex-direction: row-reverse;
    
}

.contenedorPerfil2{
    width: 98vw;
    height: max-content;
    display: flex;
    flex-direction: row;
    
}

.contenedorPerfil1 img{ 
    width: 55%;
   
}

.contenedorPerfil2 img{
    width: 55%;
    
}

.contenedorPerfil1 div{
    margin: 50px 40px;
    text-align: justify;
}

.contenedorPerfil2 div{
    margin: 50px 40px;
    text-align: justify;
}

.contenedorPerfil1 p{
    margin: 15px 20px;
}

.contenedorPerfil2 p{
    margin: 15px 20px;
}

.enlaceAconecta{
    text-decoration: none;
    color: rgb(2, 143, 2);
    font-size: 1.5rem;
}

.mainHome{
    margin-bottom: 150px;
    min-height: 100vh;
   
}
*/

/*DESCUBRE*//*
.contenedorTabla{
    background-image: url(../assets/images/fondo\ petalo.jpg);
    background-repeat: repeat;
    background-size: contain;
}*/


.introTabla{
    width: 87%;
    margin: 35px auto;
   
}

.escalaTest{
    margin: auto;

}

main table{
    width: 60vw;
    margin: auto;
    
}
.tdNumero{
    width: 40px;
    text-align: center;
    background-color: rgba(21, 225, 89, 0.137);

}

th, td{
    padding: 3px 3px;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: rgba(21, 225, 89, 0.137);
}

/*
main table{
    width: 57vw;
    margin-left:20vw;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-collapse: collapse;

}


tr:hover{
    background-color: rgba(252, 255, 71, 0.682);
}

.span{
    color: rgb(2, 143, 2);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 6px 0px;
}

.pieDeTabla{
    text-align: center;
    margin: auto;
}

/*SIENTE*/ 
h4{
    font-size: 2.2rem;
    text-align: center;
    
}

.video{
    width: 650px;
    height: 400px;
    margin: auto 70px;
    padding: 5px 40px;
}

.libro{
    width: 300px;
    height: 430px;    
}

figcaption h5,
figcaption p{
    width: 230px;
    margin: 10px 7px 7px 10px;
}


.accordion-button .collapsed{
    box-shadow: none;
    outline-style: none;
    border-color: none;
    background-color:rgb(2, 143, 2) ;
}

.img-fluid .imgArt{
    border: 1px solid black;

}

.linksSiente{
    width: 400px;
}

.imgSonidos{
    width: 600px;
}
/*
.articulo{
    border: 1px solid black;
    width: 335px;
    margin-bottom: 70px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.textoTruncado p{
    border: 1px solid black;
    overflow:hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align:left;
}*/

/*TRANSFORMA*/
.sectionTransforma{
    background-image: url(../assets/images/transforma\ fondo.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.contenedorFlexTestimonios{
    width: 200px;
    /* display: flex; */
    gap: 5px;
}
.autoRretrato{
    height: 10%;
   
}
.testimonios{
    background-color:rgba(254, 250, 30, 0.079); 
}

.dateStyle{
    color:rgb(133, 55, 55);
    font-size: 1.6rem;
}

.infoStyle{
    text-align:left;
    font-size: 1rem;
}

.extraStyle{
    text-align: center;
}

.contenedorFlexEventos{
    width: 80vw;
    height: 420px;
    display: flex;
    justify-content: center;
    margin-left: 130px;
    margin-top: 70px;
    margin-bottom: 130px;
    gap: 20px;
   
}

.contenedorFlexEventos div{
    border-color: black;
    background-color: rgba(2, 143, 2, 0.042);
    width: 500px;
    padding: 20px 20px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}

.evento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evento span{
    background-color: rgba(2, 143, 2, 0.305);
}

.newsletter{
    width: 700px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 70px;
    box-shadow: 0px 9px 18px -5px rgb(0 0 0 /30%);
}

.newsletter p{
    
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 1px 15px;

}

.newsletter span{
    font-size: 1.6rem;
    color: rgb(2, 143, 2);
}

.emailInput{
    width: 350px;
    padding: 1px 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    cursor: pointer;
}

.submitInput{
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Poiret One', cursive;
    color: black;
    font-size: 0.8rem;
    /*background-color: rgba(2, 143, 2, 0.497);*/
}

.flexSubmit{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.flexSubmit input{
    width: 20px ;
    padding-right: 10px; 
}

.flexSubmit a{
    text-decoration: none;
    color: black;
}

/*CONECTA*/

.mainConecta{
    margin-bottom: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-areas: "contactForm iframeDiv";
    grid-template-columns: auto;
    justify-content: center;
    padding: 10px 10px;
    gap: 30px;
    background-image: url(../assets/images/bg\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contactForm{
    grid-area: contactForm;
}

.iframeDiv{
    grid-area: iframeDiv;
}

.contactForm{
    height: 85vh;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    padding: 15px 40px;
    
}

.mainConecta label,
.mainConecta input,
.mainConecta p{
    font-size: 1.2rem;
}

.inputForm{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.585);
    font-family: 'Poiret One', cursive;
    font-size: 1.1rem;
    cursor: pointer;
    width: 450px;
}

.radioButtons{
    display: flex;
    justify-content: space-between;
    padding: 5px 3px 7px 3px;
    background-color: rgba(254, 255, 255, 0.56);
}

.selectForm{
    width: 200px;
    text-align: center;
    padding: 3px 3px;
    margin-bottom: 3px;
    margin: auto;
    font-size: 1.1rem;
}

.checkUso{
    margin: auto;
}

.terminosDeUso{
    color: black;
    padding-top: 5px;
}

.enviarInput{
    width: 150px;
    padding: 3px 7px;
    margin: auto;
    text-align: center;
}

.IframeDiv{
    width: 230px;
}

.infoIframe{
    margin-top: 18px;
    text-align: center;
    line-height: 1.2rem;
}

.contactIframe{
    box-shadow: 0px 9px 18px -5px rgb(0 0 0 /30%);
    margin-top: 10px;
}

/*
.gridConecta{
    display: grid;
    grid-template-areas: 
    "sectionGrid1 sectionGrid1"
    "mainConecta mainConecta"
    "footerConecta footerConecta";    
}

.gridConecta section{
    grid-area: sectionGrid1;
    margin-top: -14px;
}

.gridConecta main{
    grid-area: mainConecta;    
}

/* .gridConecta aside{
    grid-area: aside;
} 

.gridConecta footer{
    grid-area: footerConecta;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
*/

footer{
    border-top: 1px rgba(128, 128, 128, 0.807);
}

.footerFlex{
    display: flex;
    justify-content:center;
    align-items: stretch;
    margin-top: 25px;

}
.footerFlex div{
    width: 70%;
    
}

.imgFooter{
    width: 90px;
}
.iconsFlex{
    display: flex;
    justify-content: center;
}
.navIcons{
    color: rgb(13, 126, 11);
    font-size: 40px;
    padding: 7px 10px;
    text-decoration: none;
    justify-content: center;
}

.footer p{
    font-size: 1.1rem;
}
.varios{
    color: rgb(13, 126, 11);
}