/*reset*/
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poiret One', cursive;
    line-height: 1.5;
    font-weight: 600;
    text-align: justify;
}

/*HOME*/
header{
    background-color: white;
}

.container-fluid,
.header{
    height: 55px;
}

.headerLogo{
    width: 180px; 
}

svg{
    height: 2.9rem;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.nav-link{
    color: rgb(13, 126, 11);
    font-size: 1.3rem;
    margin:0px 4px;
    padding: 0%;
}

.backgroundHome {
    background-image: url(../assets/images/back\ body\ short\ size.jpg);
    background-size: contain;
    width: 100%;
}

.homeQuote{
    background-color: rgba(255, 255, 255, 0.558);
    position: absolute;
    margin: 25% 8%;
} 

.homeQuote p{
    width: fit-content;
    font-style: italic;
    font-size: 1.2rem;
    position: relative;
    padding: 3px 8px; 
}

.mainTitH{
    color: rgb(0, 80, 0);
    font-size: 3rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 900;
}

.mainTitP{
    color: rgb(0, 80, 0);
    font-size: 3rem;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    font-weight: 900;
}

.colTexto{
    padding: 5px 15px;
    margin: 5px 5px;
    font-size: 1.1rem;
}

.secondTit{
    color: rgb(1, 107, 1);
    font-size: 2.6rem;
    text-align: center;
    font-weight: 600;
    margin-top: 8%;
    margin-bottom: 3%;
}

.retratoHome{
    width: 100%;
    margin-top: 10%;
}

.thirdTit{
    font-size: 2.4rem;
    color: rgb(2, 143, 2);
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
    font-weight: 600;
}

.marginBioText{
    margin-top: 120px;
    height: fit-content;
    background-color: rgba(241, 250, 70, 0.353);
} 

.enlaceAconecta{
    font-size: 1.8rem;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(2, 143, 2);
}

.frase{
    margin-bottom: 5%;
    font-size:1.3rem;
}

/*DESCUBRE*/

.frase{ 
    color:rgb(122, 74, 74) ;
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
}

.introTabla{
    width: 87%;
    margin: 35px auto;
}

.escalaTest{
    margin: auto;

}

main table{
    width: 60vw;
    margin: auto;
    
}

.tdNumero{
    width: 40px;
    text-align: center;
    background-color: rgba(21, 225, 89, 0.137);

}

th, td{
    padding: 3px 3px;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: rgba(21, 225, 89, 0.137);
}


/*SIENTE*/ 
h4{
    font-size: 2.2rem;
    text-align: center;
}

.video{
    width: 650px;
    height: 400px;
    margin: auto 70px;
    padding: 5px 40px;
}

.libro{
    width: 300px;
    height: 430px;    
}

figcaption h5,
figcaption p{
    width: 230px;
    margin: 10px 7px 7px 10px;
}

.accordion-button .collapsed{
    box-shadow: none;
    outline-style: none;
    border-color: none;
    background-color:rgb(2, 143, 2) ;
}

.img-fluid .imgArt{
    border: 1px solid black;
}

.linksSiente{
    width: 400px;
}

.imgSonidos{
    width: 600px;
}

/*TRANSFORMA*/

.fourthTitle{
    font-size: 2rem;
    color: rgb(16, 115, 1);
    margin: 20px auto;
}

.retrato{
    width: 700px;
    height: 740px;
    object-fit: contain;
}

.detalleTestimonios{
    font-size: 1.4rem;
}

.testimonios p{
    margin: 5px 15px 15px 15px ;
    background-color: rgba(241, 250, 70, 0.121);
}

.contenedorFlexEventos{
    width: 80vw;
    height: 420px;
    display: flex;
    justify-content: center;
    margin-left: 85px;
    margin-top: 70px;
    margin-bottom: 130px;
    gap: 10px;
}

.evento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: black;
    width: 850px;
    padding: 10px 10px;
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}

.evento span{
    background-color: rgba(2, 143, 2, 0.305);
}

.dateStyle{
    width: 100%;
    color:rgb(133, 55, 55);
    font-size: 1.3rem;
}

.infoStyle{
    text-align:left;
    font-size: 1rem;
}

.extraStyle{
    text-align: center;
}

.newsletter{
    background-image:url(../assets/images/fondo\ news.jpg);
    background-size: contain;
    background-color: rgba(249, 249, 249, 0.829);
    width: 700px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 70px;
    box-shadow: 0px 9px 18px -5px rgb(0 0 0 /30%);
}

.newsletter p{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    padding: 1px 15px;
}

.newsletter span{
    font-size: 1.6rem;
    color: rgb(2, 143, 2);
}

.emailInput{
    width: 350px;
    padding: 1px 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    cursor: pointer;
}

.submitInput{
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Poiret One', cursive;
    color: black;
    font-size: 0.8rem;
}

.flexSubmit{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.flexSubmit input{
    width: 20px ;
    padding-right: 10px; 
}

.flexSubmit a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

/*CONECTA*/

.gridConecta{
    margin-bottom: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-areas: "contactForm iframeDiv";
    grid-template-columns: auto;
    justify-content: center;
    padding: 10px 10px;
    gap: 30px;
    background-image: url(../assets/images/bg\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contactForm{
    grid-area: contactForm;
}

.iframeDiv{
    grid-area: iframeDiv;
}

.contactForm{
    height: 85vh;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    padding: 15px 40px;
}

.gridConecta label,
.gridConecta input,
.gridConecta p{
    font-size: 1.2rem;
}

.inputForm{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.585);
    font-family: 'Poiret One', cursive;
    font-size: 1.1rem;
    cursor: pointer;
    width: 450px;
}

.radioButtons{
    display: flex;
    justify-content: space-between;
    padding: 5px 3px 7px 3px;
    background-color: rgba(254, 255, 255, 0.56);
}

.selectForm{
    width: 200px;
    text-align: center;
    padding: 3px 3px;
    margin-bottom: 3px;
    margin: auto;
    font-size: 1.1rem;
}

.checkUso{
    margin: auto;
}

.terminosDeUso{
    color: black;
    padding-top: 5px;
}

.enviarInput{
    width: 150px;
    padding: 3px 7px;
    margin: auto;
    text-align: center;
}

.IframeDiv{
    width: 230px;
}

.infoIframe{
    margin-top: 8px;
    text-align: center;
    line-height: 1.2rem;
}

.contactIframe{
    box-shadow: 0px 9px 18px -5px rgb(0 0 0 /30%);
    margin-top: 10px;
}

footer{
    margin-top: 6%;
}

.imgFooter{
    width: 110px;
    margin-left: 47%;
}

.presentacion{
    text-align: center;
    width: 100%;
    margin: 30px 0px;
}

.icons{
    margin-top: 20px;
    margin: auto;
    width: 370px;
    margin-top: 10px;
}

.navIcons{
    color: rgba(26, 126, 24, 0.851);
    font-size: 36px;
    padding: 7px 13px;
    text-decoration: none;
}

.footer p{
    font-size: 1rem;
}

.links{
    margin: auto;
    margin-top: 20px;
}

.links a{
    text-decoration: none;
    list-style-type: none;
    color: rgb(23, 111, 21);
    font-size: 1rem;
    text-align: center;
}

.derechos{
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

/*media queries md*/
@media screen  and (max-width: 767.98px){
 /*Home*/
    .homeQuote p{
        font-size: 0.9rem;
        padding: 3px 4px; 
    }

    .mainTitP{
        margin-top: 20%;
    }

  /*Transforma*/
    .testimonios p{
        width: 300px;
        margin: -75px 20px 5px 20px;
    }

    .contenedorFlexEventos{
        width: 65vw;
        flex-direction: column;
        height: fit-content;
        margin-left: 130px;
    }
    
    .evento{
        width: 480px;
    }

    .dateStyle{
        text-align: center;
    }
        
    .newsletter{
        width: 600px;
    }

    .newsletter p{
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .emailInput{
        padding: 5px 25px;
    }

    .submitInput{
        margin-top: 18px;
        text-align: center;
    }


/*Conecta-prueba*/

    .gridConecta{
        grid-template-areas: "contactForm"
        "iframeDiv";
        grid-template-columns: 1fr;
        padding: 10px 10px;
        align-items: center;
        background-image: url(../assets/images/bg\ img\ 2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    } 

    .inputForm{
        width: 570px;
    }
    
    .contactForm{
        padding: 15px 40px;
        width: fit-content;
        margin-left: 25px;
        height: 80vh; 
    }

    .gridConecta label,
    .gridConecta input,
    .gridConecta p{
        font-size: 1.4rem;
    }

    .selectForm{
        width: 270px;
        margin: 20px auto;
        font-size: 1.2rem;
    }

    .checkUso{
        margin-top: 10px;
    }

    .enviarInput{
        width: 150px;
        padding: 3px 7px;
        margin-top: 5px;
    }

    .IframeDiv{
        width: 270px;
        margin-left: 30%;
    }

    .infoIframe{
        margin-top: 1px;
    }
}


/*media queries MOBILE*/
@media screen  and (max-width: 412px){
    /*Home*/
    .navbar-toggler{
        margin-left: 40px;
    } 
    
    .homeQuote p{
        font-size: 0.7rem;
        padding: 25px 2px; 
    }
    .mainTitH{
        font-size: 2rem;
    }

    .homeQuote p{
        font-size: 0.9rem;
        padding: 15px 15px; 
    }
    .colTexto{
        font-size: 1.1rem;
    }

    .secondTit{
        font-size: 1.8rem;
    }

    .thirdTit{
        font-size: 1.6rem;
    }

    .presentacion p{
        width: 500px;
    }

    .icons{
        width: 350px;
    }
    .navIcons{
        font-size: 30px;
        padding: 2px 13px;
    }
    .links{
        font-size: 1.1rem;
        margin-left: 4%;
        margin-bottom: 35px;
    }

    /*Transforma*/
    .mainTitP{
        font-size: 2.2rem;
        margin-top: 30%;
        margin-bottom: 3%;
    }

    .frase{
        margin-bottom: 5%;
        font-size:1rem;
    }

    h4{
        font-size: 2rem;   
    }

    .detalleTestimonios{
        font-size: 1.1rem;
    }

    .testimonios p{
        width: 350px;
        margin: -55px 20px 15px 20px;
    }
    .contenedorFlexEventos{
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .evento{
        width: 370px;
        margin-top: 10px;
    }

    .newsletter{
        width: 320px;
    }

    .newsletter p{
        font-size: 0.9rem;
    }

    .emailInput{
        width: fit-content;
        padding: 5px 55px;
    }

    .submitInput{
        margin-top: 18px;
        text-align: center;
    }

    .flexSubmit input{
        width: 17px ;
    }
    
    .flexSubmit a{
        font-size: 0.9rem;
    }
}





